@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #414141;
  --primary: #eb692c;
  --subtle: #faf9f7;
  --secondary: #1a1612;
  --border: #d1cec8;
  --text: #1a1612;
  --text-secondary: #555353;
  --accent: #eb692c;
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-inter);
  --color-primary: var(--primary);
  --color-subtle: var(--subtle);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
